/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.color-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    padding: 12px 25px;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 220px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related style */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    margin-top: 0px;
}

.banner-btn {
    margin-top: 20px;
    margin-right: 20px;
}

/* main section style here */
main{
    width: 1040px;
    margin: auto;
}

/* about section style here */
.about-section {
    /* height: 550px; */
    background-color: #FFF8F3;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

.about-tile {
    padding-top: 70px;
    font-size: 35px;
    font-weight: 700;
}

.about-description {
    font-size: 18px;
    font-weight: 400;
    color: #474747;
    padding: 0px 70px;
}
.about-footer{
    display: flex;
    justify-content: center;
}
.about-footer>div{
    margin-right: 60px;
    
}
.about-footer>div>p{
    margin-bottom: -15px;
}

/* What I do section start here */
.what-do-section{
    margin-top: 70px;
    text-align: center;
}
.what-do-description{
    font-size: 15px;
}
.skills{
    display: flex;
    gap: 30px;
}
.skill{
    height: 275px;
    background-color: #e2dada;
    padding: 20px 30px 20px 20px;
    text-align: left;
    border-radius: 8px;
    box-shadow: 10px 10px 10px gray;
}
.skills-desc{
    font-size: 13px;
}